@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", system-ui, sans-serif;
  }

  h1 {
    @apply font-black tracking-tight;
  }

  h2 {
    @apply font-black tracking-tight;
  }

  h3 {
    @apply font-bold;
  }
}

/* Syntax Highlighting */
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
